.loadingpage{
     box-shadow: 0 0px 40px rgba(255, 255, 255, 0.2);
    background-color: black;
    position: absolute;
    top:15%;
    left:10%;
    width: 80%;
    height: 80%;
    z-index: 3;
}
.tabrow{
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}
.greystrip{
    background-color: grey;
    width: 100%;
    height: 50px;
    z-index: 4;
}
.reactlogo{
    height:40px;
    width: 40px;
   
}
.loadingpage h2{
    color:white;
}
.row{
    display: flex;
    flex-direction: row;
    padding: 0;
}
.row h2{
    color: white;
    margin: 0;
    margin-left: 3% !important;
}
.crosslogo{
    height: 25px;
    width: 25px;
    margin-left: 9%;
}
.column{
    display: flex;
    flex-direction: column;
}
.column h2{
    margin-left: 47% !important;
}
.row h3{
    color: white;
    margin: 0;
    margin-left: 3%;
    font-size: 24px;
}
@keyframes typewriter {
    0%{
        width:0%;
    }
    100%{
        width:120%;
    }
}
@keyframes typewriter2 {
    0%{
        width:0%;
    }
    100%{
        width:8rem; 
    }
}

@keyframes blinkcaret {
    from{
        border-right: 2px solid white;

    }
    to{
        border-right: 2px solid black;
    }
}
.fscript{
    display: flex;
    flex-direction: row;
    padding: 0;
    width:125%;
    animation: blinkcaret 1s linear 3,typewriter 3s steps(26)   ;
    overflow: hidden;
}
.terminal{
    border-top: 2px solid white;
}
.fscripttwo{
    display: flex;
    flex-direction: row;
    padding: 0;
    width:0%;
    flex-wrap: nowrap;
    
    animation: blinkcaret 1s linear infinite,typewriter2 steps(9) 2s  forwards ;
    animation-delay: 3s;
    overflow: hidden;
}
@media (min-width:500px) and (max-width:1000px)  {
    .greystrip{
        width:100%;
        height:50px;
    }
    @keyframes typewriter2 {
        0%{
            width:0%;
        }
        100%{
            width:8rem; 
        }
    }
}
@media (max-width:500px) {
   .loadingpage h3{
        font-size: 1rem !important;
    }
    .column h2{
        font-size: 1em;
    }
    .greystrip{
        width:100%;
        height:30px;
    }
 
    .loadingpage{
        height: 80vh;
    }
    .reactlogo{
        height: 30px;
        width: 30px;
    }
    .terminal{
        padding-left: 1rem;
    }
    .terminal h2{
        font-size: 1.1em;
    }
    .tabrow h2{
        font-size: 1.1em;
    }
        @keyframes typewriter2 {
        0%{
            width:0%;
        }
        100%{
            width:6rem; 
        }
    }
    .crosslogo{
        height: 20px;
        width: 20px;
        margin-left: 0;
    }
}

