.projectssection {
  /* border-top:  2px solid #00ffff; */
  /* background-color: black; */
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}
.head {
  color: white;
  align-self: center;
  font-size: 300%;
  font-weight: 500;
  margin-bottom: 5%;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 436px) {
  .head {
    font-size: 200% !important;
  }
}
